@import "tailwindcss";
@config "@root/tailwind.config.js";

@layer base {
  :root {
    --header-height: 4rem;

    --color-primary: #111827;
    /* gray-900 */
    --color-secondary: oklch(44.6% 0.03 256.802);
    /* gray-600 */
    --color-text: oklch(87.2% 0.01 258.338);
    /* gray-300 */
  }

  @font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 100 700;
    src: url("@fonts/Material-Symbols-Outlined.woff2") format("woff2");
  }

  @font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url("@fonts/Material-Icons.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("@fonts/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("@fonts/Inter-Bold.woff2") format("woff2");
    font-weight: 700;
    font-display: swap;
  }
}

@layer utilities {
  .material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
  }

  .material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
  }
}

@theme {
  --font-sans: "Inter";
}
